.icon-48-circlesoundches {
      background-image: url(../images/l_circlesoundches.png);
      padding-left:60px!important;
}

.icon-48-circlesoundche {
      background-image: url(../images/l_circlesoundches.png);
      padding-left:60px!important;
}

